*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* header */

header .header-cantant{
    background-color: black;
    opacity: 0.9;
    padding: 25px 30px;
}
header .navbar{
    background-color: black;
    opacity: 0.9;
    padding: 0 10px;
    width: 200px;
    height: 100vh;
    align-items: flex-start;
}
header .navbar ul li a{
    color: white;
}
header .navbar ul li a:hover{
    color: rgb(40, 134, 223);
}
header .navbar ul li a.active{
    background-color: white;
    color: rgb(40, 134, 223);
    padding-right: 120px;
    border-radius: 5px;
}
header .navbar ul li:nth-of-type(4) a.active{
    padding-right: 100px;
}
form{
    width: 100%;
}
.none{
    display: none;
}
.block{
    display: block;
}
.table thead tr th{
    padding: 10px 20px;
}
.table tbody tr th{
    padding: 10px 20px;
}
.table tbody tr td{
    padding: 10px 20px;
}